.injektion {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.injektion.long {
  border-left: 4px solid var(--secondary-text-color);
}

.injektion.short {
  border-left: 4px solid var(--primary-color);
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.datum {
  margin-bottom: 7px;
  border-bottom: 4px dotted var(--primary-color);
}

.edit-button {
  position: absolute;
  top: 15px;
  right: 20px;
}

.edit-button img {
  height: 18px;
}

@media (max-width: 600px) {
  p {
    font-size: 1em;
  }

  .edit-button {
    top: 10px;
    right: 15px;
  }

  .edit-button img {
    height: 16px;
  }
}
